beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
cssselect==1.1.0
cycler==0.10.0
fire==0.3.1
idna==2.10
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.3
numpy==1.19.5
pandas==1.2.0
parse==1.18.0
Pillow==8.1.0
pyparsing==2.4.7
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2020.5
pywebcopy==6.3.0
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
termcolor==1.1.0
urllib3==1.26.2
w3lib==1.22.0
webdriver-manager==3.2.2
